body {
  padding-top: 70px;
}

.decor {
  margin: 15px 0;
}
.decor > * {
  vertical-align: middle;
}
.decor hr {
  display: inline-block;
  width: 100px;
  border: 2px solid;
}
.decor i {
  font-size: 28px;
  padding: 0 10px;
}

/* utility */
.container_50 {
  width: 50%;
  margin: 0 auto;
}
.py_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py_80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section_title {
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
}
.my_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* header */

/* nav */
nav {
  background-color: #2B3E50;
  color: #fff;
  /* padding: 30px 0;
  line-height: 28px; */
}
nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
nav .left_item > a {
  font-size: 2.8rem;
}
nav .right_menu > a {
  font-size: 1.6rem;
  margin-right: 40px;
}

nav .left_item, nav .right_menu {
  height: 80px;
  line-height: 80px;
}
nav .right_menu > span.ham {
  display: none;
}
/* banner */
#site_header > .banner > .container {
  padding-right: 0;
  /* So che non si fa!
  è in relazione al fatto che il contenuto del banner non fosse perfettamente centrato.
  Ho chiesto a Fabiola. Non si è capito bene il motivo.
  C'è questo surplus di 15px a dx. si vede bene con pesticide
  */
}
.banner, #about {
  background-color: #18BC9B;
  color: #fff;
}

.banner_content > img {
  width: 250px;
}

.banner_content > h1 {
  font-size: 64px;
  font-weight: bold;
}

.banner_content > h3 {
  font-weight: 400;
}

/* portfolio */
#portfolio .pf_item {
  height: 280px;
  position: relative;
}

#portfolio div.layover {
  width: 350px;
  height: 252px;
  border-radius: 6px;
  background-color: #18bc9b94;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#portfolio div.layover > span {
  color: #fff;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#portfolio img {
  width: 350px;
  height: 252px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#portfolio img:hover #portfolio div.layover > span {
  z-index: 3;
}
#portfolio img:hover #portfolio div.layover {
  z-index: 2;
}
#portfolio img:hover {
  z-index: 1;
}

/* about */
.btn_dlf {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 24px;
  margin-top: 15px;
}
button.btn_dlf:hover {
  color: #000;
  border-color: #fff;
  background-color: #fff;
}
#about p {
  font-size: 20px;
}

/* contact me */
#contact_me label {
  font-size: 24px;
  font-weight: 400;
  color: grey;
}
#contact_me button {
  color: #fff;
  font-size: 18px;
  padding: 15px 24px;
  background-color: #18BC9B;
}
form .form-group > input, form .form-group > textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

/* footer */
.top_footer, .bottom_footer {
  background-color: #2B3E50;
  color: #fff;
}

/* top_footer */
.top_footer h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.top_footer p {
  font-size: 21px;
}
.top_footer span.icon_row {
  display: inline-block;
  margin-bottom: 10px;
}
.top_footer i {
  width: 54px;
  font-size: 2rem;
  border: 2px solid;
  padding: 15px;
  border-radius: 50%;
  margin: 0 4px;
}
.top_footer p > a {
  color: #18BC9B;
}

/* bottom_footer */
.bottom_footer {
  background-color: #1a252f;
}
.bottom_footer span {
  font-size: 13px;
}


@media screen and (max-width: 767px) {
  nav .right_menu a {
    display: none;
  }
  nav .right_menu > span.ham {
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;
  }
}
@media all and (max-width: 991px) {
  nav .left_item > a {
    font-size: 2rem;
  }
  nav .right_menu > a {
    font-size: 1.4rem;
    margin-right: 20px;
  }
}
